.gridline {
  stroke: gainsboro;
  stroke-width: 1px;
}

.iqr-line {
  stroke: black;
  stroke-width: 1px;
}

.line {
  fill: none;
}

.point {
  fill: black;
  r: 1px;
}

.scale-temp text {
  color: red;
}

.scale-humidity text {
  color: blue;
}
