line.tick {
  stroke: black;
  stroke-width: 1px;
}

.x-axis .tick-label {
  font-size: 10px;
}

.y-axis .tick-label {
  font-size: 14px;
}

.x-axis .gridline {
  stroke: #ddd;
  stroke-width: 1px;
}

.y-axis .gridline {
  stroke: #eee;
  stroke-width: 1px;
}

.plot line {
  stroke: black;
  stroke-width: 1px;
}
